doctype html
html 
    head 
        title Modern Dance Academy
        style 
            include ../static/style.css
    body 
        nav#navbar
            ul
                div#logo
                    img(src="../static/img/img_3.png", alt="no img")
                    div#imgTitle
                        |MDA
                li #[a(href="/") HOME]
                li #[a(href="/") ABOUT]
                li #[a(href="/") INFO]
                li #[a(href="/") CONTACT]
        section#intro 
            div DANCE LIKE        
            div#variation NO ONE IS
            div WATCHING
        section#mission 
            div#missionTitle Our Mission  
            div.container  
                div.card 
                    |Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus architecto illo voluptatum provident autem maxime at nostrum fugiat, asperiores repellendus, cum reiciendis ratione!
                div.card 
                    |Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus architecto illo voluptatum provident autem maxime at nostrum fugiat, asperiores repellendus, cum reiciendis ratione!
                div.card 
                    |Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus architecto illo voluptatum provident autem maxime at nostrum fugiat, asperiores repellendus, cum reiciendis ratione!
        footer 
            |Copyright Ⓒ 2019 ModernDanceAcademy.in